<div class="sign-up-top">
  <%= image_tag "left-arrow.png", class: 'left-arrow' %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="sign-up-form">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location%>
    </div>

    <div class="field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :bio %>
      <%= f.text_field :bio%>
    </div>

    <div class="actions">
      <%= f.submit "Update Profile" , class: "btn-sign-up"%>
    </div>
  </div>
<% end %>
