
<p class="back_link"><%= link_to image_tag('back_arrow.png') + "Back to Explorer", root_path %></p>

<%= form_for(resource, as: resource_name, html: {class: "sign_up_form"}, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="main_field">
    <%= f.label :username, "Username:" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "subfields_reg" %>
  </div>

   <div class="main_field">
    <%= f.label :name, "Name:" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "subfields_reg" %>
  </div>

  <div class="main_field">
    <%= f.label :email, "Email:" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "subfields_reg" %>
  </div>

  <div class="main_field">
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "subfields_reg" %>
  </div>

  <div class="main_field">
    <%= f.label :password_confirmation, "Password confirmation:" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "subfields_reg" %>
  </div>

  <div class="main_field">
    <%= f.label :location, "Location:" %><br />
    <%= f.text_field :location, autofocus: true, autocomplete: "location", class: "subfields_reg" %>
  </div>
  
  <div class="field_avatar">
    <%= f.label :avatar, "Avatar:" %><br />
    <%= f.label :avatar, "Upload File", class: "button_avatar" %>
    <%= f.file_field :avatar, style: "display: none;" %>
  </div>

  <div class="field_bio">
    <%= f.label "bio:" %><br />
    <%= f.text_field :bio, autofocus: true, autocomplete: "bio", class: "subfield_bio"%>
  </div>

  <div class="actions">
    <%= f.submit "Create an Account", class: "account_submit" %>
  </div>
<% end %>