<div class="comment">
  <div class="comment-avatarcontainer">
    <img src=<%= get_avatar(user) %> class="comment-avatar" />
  </div>
  <div class="comment-content">
    <div class="comment-top">
      <span class="comment-displayname"><%=user.display_name %></span>
      <a href="#" class="comment-username">@<%= user.username %></a>
      <span class="comment-date">- <%= print_date_time_tweet(comment.created_at) %></span>
    </div>
    <p class="comment-body">
      <%= comment.body %>
    </p>
  </div>
</div>