<article class="tweet">
  <%= link_to tweet_path(tweet), class: "tweet-link" do %>
  <%
=begin%>
  <aside class="tweet-image-container">
    <%= tweet_image(tweet, class: "tweet-image") %>
  </aside>
  <%
=end%>
  <div>
    <header class="tweet-header">
      <h3 class="tweet-name"><%= tweet.user.name %></h3>
      <p class="tweet-metadata">
        <%= tweet.created_at.strftime("%-d %B") %>
      </p>
    </header>
    <p class="tweet-body"><%= tweet.body%></p>    
    <footer>
      <span class="tweet-count"><%=image_tag "messages-icon.png", class: "tweets-count-icon"%></span><%=tweet.comments_count%>
      <span class="tweet-count"><%=image_tag "likes-icon.png", class: "tweets-count-icon"%></span><%=tweet.likes_count%>
    </footer>    
  </div>
  <% end %>
</article>
