<article id="tweet_#{tweet.id}" class="tweet_container">
  <%= link_to tweet_path(tweet), :class=>"select_tweet" do%> 
    <% if tweet.owner.avatar.attached?%>
      <%= image_tag(tweet.owner.avatar, :class=>"owner-image")%>
    <%else%>
      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", :class=>"owner-image")%>
    <%end%>
    <div class="content">
      <p class="tweet_details">
        <span class="owner_name"><%= tweet.owner.name%></span> 
        @<%= tweet.owner.username%> - <%= tweet.created_at.to_date.strftime('-%d %B')%>
      </p>
      <p class="tweet_body"><%= tweet.body%></p>
  <% end %>
    <span class="tweet_reaction">
      <%= link_to tweet_path(tweet), :class=>"text_decoration_none" do%> 
        <span class="tweet_comments_count"><%= image_tag("comments.png", :class=>"comment_icon")%><%= tweet.comments.count%></span> 
      <% end %>
      <span class="tweet_likes_count">
        <%= button_to like_tweet_path(tweet), :remote => true, method: :post, class: "buttonTo" do%>
          <%= image_tag("likes.png", :class=>"comment_icon") %><%= tweet.likers.count%>
        <% end %>
      </span>
    </span>
  </div>
</article>