<article class="tweet">  
  <%= image_tag(url_for(tweet.user.avatar), class: "tweet-img") %>
  <div class="tweet-text-icons">
    <header class="tweet-header">
      <p class="tweet-name"><%= tweet.user.name %></p>
      <p class="tweet-username">@<%= tweet.user.username %> - <%= tweet.created_at.strftime("%-d %B") %></p>        
      </p>
      <% if user_signed_in? and current_user==tweet.user %>
      <div class="tweet-delete">
        <%= link_to "Delete", tweet_path(tweet), method: :delete%>
      </div>         
      <%end%>      
    </header>
    <%= link_to tweet_path(tweet), class: "tweet-body" do %>  
        <p class="tweet-body"><%= tweet.body %></p>  
    <% end %>   
    <footer class="tweet-footer">
        <div class="tweet-count-comments">
            <%=image_tag "messages-icon.png", class: "tweets-count-icon"%>
            <span  class="tweet-comments-icon"><%=tweet.comments_count%></span>
        </div>      
      <% if user_signed_in? %>
        <% unless tweet.has_liked?(current_user) %>
            <div class="tweet-count-likes">
                <%= link_to (image_tag ("likes-icon.png")), tweet_likes_path(tweet), method: :post %>
                <span class="tweet-not-liked"><%=tweet.likes_count%></span>
            </div>         
        <% else %>  
            <div class="tweet-count-likes">     
            <%= link_to (image_tag ("likes-icon-red.png")), tweet_like_path(tweet, id: tweet.likes.find_by(user: current_user).id ), method: :delete %>
            <span class="tweet-liked"><%=tweet.likes_count%></span> 
            </div>                                     
        <% end %>
      <% end %>
    </footer>    
  </div>   
</article>
