<p id="notice"><%= notice %></p>

<%= link_to '<- Tuit', root_path %>

<%= render 'tweet', tweet: @tweet %>

<% if current_user%>
  <%= render 'comment_form', locals: { tweet_id: @tweet.id, user_id: current_user } %>
<% end %>

<%= render 'tweet_comments', tweet: @tweet %>
