<p id="notice"><%= notice %></p>

<%= link_to '<- Tuit', root_path %>

<%= render 'tweet', tweet: @tweet %>

<%= render 'comment_form', tweet: @tweet %>

<%= render 'tweet_comments', tweet: @tweet %>
