<div class="top_show_tuit">
 <%= link_to root_path, :class =>"explorer_tuit" do%>
          <%= image_tag("arrow.png", :class => "arrow_image")%> <span>Tuit</span>
        <%end %>
</div>
<div class="tweet">
 <% if @tweet.owner.avatar.attached?%>
        <%= image_tag(@tweet.owner.avatar, :class=>"owner-image")%>
      <%else%>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", :class=>"owner-image")%>
      <% end%>
   <div class="details-tuit-container">
    <span class= "tuit-owner-name"><%= @tweet.owner.name %></span>
    <span class = "tuit-owner-username"><%= '@' + @tweet.owner.username %></span>
    <span class = "tuit-owner"><%= @tweet.body %></span>
    <span class= "tuit-time"><%= @tweet.created_at.strftime("%H:%m - %h, %d %Y")%></span>
    <div class = "tuit-likes-count">
        <span ="tweetCount"><%= @tweet.likers.count.to_s%></span>
        <span class="tuit-likes">Likes</span>
        <%= button_to  like_tweet_path(@tweet), method: :post, :class => "buttonTo" do%>
          <%= image_tag("likes.png", :class=>"likeButton") %>
        <% end %>
    </div>
    </div>
</div>
<%if user_signed_in?%>
  <div class="create_comment_container">
    <% if current_user.avatar.attached?%>
      <%= image_tag(current_user.avatar, :class=>"owner-image")%>
    <%else%>
      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", :class=>"owner-image")%>
    <% end%>
    <div class= "tuit-comment-user">
    <%= form_for([@tweet, @tweet.comments.build], html: {class: "form_comment"})  do |f|%>
        <%= f.text_area :body, :placeholder=> "Think before writing..." , :class => 'textarea_comment'%>
        <%= f.hidden_field :user_id, :value => current_user.id %> 
        <%= f.submit "Comment!", :class => "submit_comment" %>
    <% end %>
    </div>
  </div>
<% end %>


<% @tweet.comments.each do |comment| %>
  <% if !comment.user.nil? %>
    <div class="comment">
      <% if comment.user.avatar.attached?%>
        <%= image_tag(current_user.avatar, :class=>"owner-image")%>
      <%else%>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", :class=>"owner-image")%>
      <%end%>
      <div class="comment_content">
        <div class="user_comment">
          <span class = "owner_name"> <%= comment.user.name %></span>
          <span class = "tuit-userusername-comment"><%= '@' + comment.user.username %></span>
          <span class="tuit-userusername-time"><%= ' - '+comment.created_at.strftime("%B %d")%></span>   
        </div>
        <div class="comment_comment">
          <span><%= comment.body %></span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

