<p id="notice"><%= notice %></p>

<%= link_to '<- Tuit', root_path %>

<%= render partial: 'tweet', locals: { tweet: @tweet, user: @tweet.user } %>

<% if current_user%>
  <%= render partial: 'comment_form', locals: { tweet_id: @tweet.id, user: current_user } %>
<% end %>

<%= render partial: 'tweet_comments', locals: { comments: @tweet.comments } %>
