<h1>SHOW ONE TWEET</h1>
<section>
  <%= image_tag(url_for(@tweet.user.avatar), class: "algo") %>
  <h2> <%= @tweet.user.name %> </h2>
  <p>@<%= @tweet.user.username %></p>
  <p> <%= @tweet.body %> </p>
  <p><%= @tweet.created_at.strftime('%H:%M %p - %b %e, %Y') %></p>
  <span><%= @tweet.likes_count %> Likes</span>
</section>
<hr>

<% if user_signed_in? %>
  <section>
    <%= form_for @comment, url: tweet_comments_path(@tweet) do |f| %>
      <p>
        <%= f.text_area :body %>
      </p>
      <%= f.submit %>
    <% end %>
  </section>
<% end %>

<% @tweet.comments.each do |comment| %>
  <section>
    <p><%= comment.user.name %> @<%= comment.user.username %> - <%= comment.created_at.strftime('%e %B') %></p>
    <p><%= comment.body %></p>
  </section>
<% end %>