<% content_for :page_heading do %>
Explorer
<% end %>

<% @tuits.each do |tuit|%>
  <div class="tweet">
    <img id="image" src="../img/tanus.png">
    <div class="content">
      <h3><%= tuit.owner.name%><span> @<%=tuit.owner.username%> - <%= tuit.created_at.strftime '%-d %B' %></span> </h3>
      <p id='comment' ><%=tuit.body%></p>
      <div class="info">
        <div class="comments">
          <img src="../img/comment.png">
          <p><%=tuit.comments.count%></p>
        </div>
        <div class="likes">
          <img src="../img/like.png">
          <p><%=tuit.votes.count%></p>
        </div>
      </div>
    </div>
  </div>
<%end%>