<div class="main-content-header">
  <h2 class="content-title">Explorer</h2>
</div>

<% @tuits.each do |tuit| %>
    <%= link_to tuit_path tuit.id do %>
    <div class="main-content-item">
        <div class="tuit-owner-avatar">
            <%if tuit.owner.avatar.nil?%>
                 <%= image_tag('noavatar.png', :alt => tuit.owner.name) %>
            <% else %>
                <%=tuit.owner.avatar%>
            <% end %>
        </div>
        <div class="tuit-info">
            <p>
                <span class="tuit-owner"><%=tuit.owner.name%></span> 
                <span class="tuit-details">@<%=tuit.owner.username%> - <%=tuit.created_at.strftime("%-d %B") %></span>
            </p>
            <p class="tuit-body"><%=tuit.body%></p>
            <div class="tuit-numbers">
                <%= image_tag('comment.svg', :alt => 'comments') %>
                <span class="tuit-numbers-item-font tuit-numbers-item"><%=tuit.comments_count%></span>
                <%= image_tag('like.svg', :alt => 'likes') %>
                <span class="tuit-numbers-item-font tuit-numbers-item"> <%=tuit.likes_count%></span></div>
        </div>
    </div>
    <% end %>
<% end %>
