<section>
    <%@user.tweets.order(created_at: :desc).each do |tweet|%>
         <div>
            <%= image_tag(url_for(@user.avatar)) %>
            <span>@<%= @user.username%> </span>
            <span> <%= tweet.created_at.strftime("%-d %B")%> </span>
            <p> <%=tweet.body%> </p>
            <span><%= tweet.comments_count%> </span>
            <span> <%=tweet.likes_count%> </span>
        </div>
    <%end%>

</section>