<section class="data_container">
    <%@user.tweets.order(created_at: :desc).each do |tweet|%>
        <%= image_tag(url_for(@user.avatar), class: "tweet-img") %>
        <div>
            <span>@<%= @user.username%> </span>
            <span> <%= tweet.created_at.strftime("%-d %B")%> </span>
            <p> <%=tweet.body%> </p>
            <span><%= tweet.comments_count%> </span>
            <span> <%=tweet.likes_count%> </span>
        </div>
    <%end%>

</section>