<div class="profile">
  <div class="profile-containeravatar">
    <%= image_tag get_avatar(@user), class: "profile-avatar" %>
  </div>
  <span class="profile-name"><%=@user.display_name %></span>
  <span class="profile-username">@<%= @user.username %></span>
  <p class="profile-bio">
    <%=@user.bio %>
  </p>
  <div class="profile-details">
    <div class="profile-locationcontainer">
      <i class="fas fa-map-marker-alt"></i>
      <span class="profile-location"><%= @user.location %></span>
    </div>
    <div class="profile-datecontainer">
      <i class="far fa-calendar-alt"></i>
      <span class="profile-date">Joined <%= format_date_profile( @user.created_at) %></span>
    </div>
  </div>
  <div class="profile-followcontainer">
    <p class="profile-following">
      <%=@user.followings_count %><span> Following</span>
    </p>
    <p class="profile-follower">
      <%=@user.followers_count %><span> Followers</span>
    </p>
  </div>
  <% if user_signed_in?  %>
    <div class="profile-button-follow">
      <% if @user.id != current_user.id%>
        <% if !current_user.followings.where(following_id: @user.id).first %>
          <%= link_to "Follow", user_follows_path(user_id: @user.id) , class:"profile-follow", method: [:post]%> 
        <% else %>
        <%= link_to "Following", user_follow_path(user_id: @user.id) , class:"profile-follow", method: [:delete]%>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? && current_user %>
    <%= link_to "Edit Profile", edit_user_path , class:"profile-edit"%>
  <% end %>
</div>
