<%= render "data_user" %>
<div>
    <%= link_to  "Tuits",partial: :tweets %>
    <%= link_to  "Likes",partial: :likes %>
</div>
<%if params[:partial] == "tweets" || params[:partial].nil?%>
<%= render 'tweets' %>
<%else%>
<%= render 'likes' %>
<%end%>