<div class="top_explore_page">
  <h1 class ="explorer_title">Explorer</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

  <%if user_signed_in?%>
    <div class="write_tweet_container">
      <% if current_user.avatar.attached?%>
        <%= image_tag(current_user.avatar, :class=>"owner-image")%>
      <%else%>
         <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", :class=>"owner-image")%>
      <%end%>
      <p class="tweet_placeholder">What you are thinking about is...</p>
      <button class="btn-tweet">tuiteable!</button>
    </div>
  <%end%>

<div class="div_separator"></div>

<% @tweets.each do |tweet|%>
  <%= link_to root_path, :class=>"select_tweet" do%> 
    <article class="tweet_container">
      <% if tweet.owner.avatar.attached?%>
        <%= image_tag(tweet.owner.avatar, :class=>"owner-image")%>
      <%else%>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", :class=>"owner-image")%>
      <%end%>
      <div class="tweet_content">
        <p class="tweet_details">
          <span class="owner_name"><%= tweet.owner.name%></span> 
          @<%= tweet.owner.username%> - <%= tweet.created_at.to_date.strftime('%-d %B')%>
        </p>
        <p class="tweet_body"><%= tweet.body%></p>
        <span class="tweet_reaction">
          <span class="tweet_comments_count"><%= image_tag("comments.png", :class=>"comment_icon")%><%= tweet.comments.count%></span> 
          <span class="tweet_likes_count"><%= image_tag("likes.png", :class=>"comment_icon") %><%= tweet.likers.count%></span>
        </span>
      </div>
    </article>
  <% end%>
<%end%>
  


