<article class="flex flex-row w-full border border-gray-600 p-3">
  <aside class="w-16 flex items-center">
    <img class="rounded-full" src="<%=(url_for(tweet.user.avatar))%>" alt="">
  </aside>

  <main class="flex-grow flex flex-col px-5">
    <header class="w-full my-1">
      <a href="<%= tweet_url(tweet) %>" class="font-bold"><%= tweet.user.name %></a>
      <a href="#" class="text-gray-500"> @<%= tweet.user.tag %></a>
      <span class="text-gray-500"> - <%= tweet.created_at.strftime("%B %-d") %></span>
    </header>
    <p class="w-full my-1">
      <%= tweet.content %>
    </p>
    <footer class="w-full my-1 flex flex-row">
      <div class="flex flex-row items-center mr-20">
        <% if user_signed_in? %>
          <% pre_like = tweet.likes.find { |like| like.user_id == current_user.id } %>
          <% if pre_like %>
            <%= link_to image_tag("unlike.svg"), tweet_like_path(tweet, pre_like), method: :delete %>
          <% else %>
            <%= link_to image_tag("like.svg"), tweet_likes_path(tweet), method: :post %>
          <% end %>
        <% else %>
          <%= link_to image_tag("like.svg"), new_user_session_path %>
        <% end %>
        <p class="mx-2 text-xs"><%= tweet.likes.size %></p>
      </div>
      <div class="flex flex-row items-center">
        <% if user_signed_in? %>
          <%= link_to image_tag("comment.svg"), tweet_path(tweet) %>
        <% else %>
          <%= link_to image_tag("comment.svg"), new_user_session_path %>
        <% end %>
        <p class="mx-2 text-xs">
          <%= tweet.responses.size %>
        </p>
      </div>
    </footer>
  </main>
</article>