<div>
  <div>
    <img src="" alt="">
  </div>
  <div>
    <div>
      <a href="tuits/<%= tuit.id %>">
        <%= tuit.user.name %>
      </a>
      <%= tuit.user.username %> -
      <%= tuit.created_at.strftime("%b %-d")%>
    </div>
    <div>
      <%= tuit.body %>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= button_to '<3', tuit_likes_path(tuit), method: :post %>
      <% end %>
      L: <%= tuit.likes_count %>
      C: <%= tuit.comments_count %>
    </div>
  </div>
</div>