<div class="tuit-content">
  <div class="avatar-div">
    <% if tuit.user.avatar.attached? %>
      <%= image_tag tuit.user.avatar, class: "img-avatar" %>
    <% else%>
      <%= image_tag("avatar.png", class: "img-avatar")  %>
    <% end %>
  </div>
  <div>
    <a href="tuits/<%= tuit.id %>">
    <span><%= tuit.user.name %></span>
    <span class="nickname"><%= tuit.user.username %> - <%= tuit.created_at.strftime("%b %-d")%></span>
    <p><%= tuit.body %></p>
    <div class="comments-likes">
      <span class="comments"><%= image_tag("comments.png")%><%= tuit.comments_count %></span>
      <span class="likes"><%= image_tag("likes.png")%> <%= tuit.likes_count %></span>
    </div>
  </div>
</div>