
<p class="back_link" ><%= link_to image_tag('back_arrow.png') + "Back to Explorer", root_path %></p>

<div class="profile_container">
  <div class="profile_main_info">
    <%= show_user_avatar(current_user) %>
    <h1 class="profile_name "><%= current_user.name %></h1>
    <p class="profile_username ">@<%= current_user.username%></p>
    <p class="profile_bio"><%= current_user.bio%></p>
  </div>
  <div class="profile_stats">
    <p class="profile_location_info"><%= image_tag("location.png") %> <span><%= current_user.location%></span></p>
    <p class="profile_since_date"><%= image_tag("calendar.png") %> <span><%= current_user.created_at.to_date%></span></p>
    <p class="profile_following_count"><%= current_user.followed_users.count %> <span>Following</span></p>
    <p class="profile_followers_count"><%= current_user.followers.count %> <span>Followers</span></p>
  </div>
  <div class="profile_edit_link">
    <%= link_to "Edit Profile", edit_user_registration_path, class: "edit_link" %>
  </div>
  <div class="profile_tuits_likes">
    <%= link_to "Tuits", user_show_path, class: "profile_links" %>
    <%= link_to "Likes", user_show_path(likes: true), class: "profile_links" %>
  </div>
</div>
<div>
  <% if @show_likes %>
  <% @tuits_liked = Tuit.joins("join likes as l on l.tuit_id = tuits.id join users as u on l.user_id = u.id where u.id = #{current_user.id}") %>
    <% @tuits_liked.each do |liked_tuit| %>
    <%= render partial: "home/tuit", locals: { tuit: liked_tuit} %>
  <% end %>
  <% else %>
  <% current_user.tuits.each do |tuit_item| %>
    <%= render partial: "home/tuit", locals: { tuit: tuit_item } %>
  <% end %>
  <% end %>
</div>
