<!DOCTYPE html>
<html>
  <head>
    <title>Tuiteable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <%= link_to image_tag("tuiteable.png"), root_path %>
      <%= link_to root_path do%>
        <%= image_tag("tag.png")%> <span>Explorer</span>
      <%end %>
      <%if user_signed_in?%>
      <%=link_to "My Profile", edit_user_registration_path %>
      <%=link_to "Log Out", destroy_user_session_path, method: :delete%>
      <%end %>
    </nav>
  </header>

  <%= yield %>

  <aside>
    <%if user_signed_in?%>
      <%= render 'home/new_features'%>
    <%else%>
      <%= render 'user/sign_in_form'%>
    <%end%>
  </aside>

  </body>

  <footer>
    <p>Made by Albert, Mariella y Saida</p>
    <p>cohort #2 students</p>
  </footer>
</html>
