<!DOCTYPE html>
<html>
  <head>
    <title>Tuiteable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="tuitiable_container">
      <nav class="navbar_tuitiable">
        <%= link_to image_tag("tuiteable.png"), root_path %>  
        <%= link_to root_path, :class =>"explorer_link" do%>
          <%= image_tag("tag.png", :class => "tag_image")%> <span>Explorer</span>
        <%end %>
        <%if user_signed_in?%>
          <%= link_to profile_tweets_path, :class =>"explorer_link" do%>
          <%= image_tag("user.png", :class => "tag_image")%> <span>Profile</span>
          <%end %>
          <%=link_to "Log out", destroy_user_session_path, method: :delete, :class=> "log_out_link"%>
        <%end %>
      </nav>
     
      <main class="tweets_container">
        <%= yield %>
      </main>
     
      <div class= "aside_footer_container" >
        <aside class="right_bar_tuitiable">
          <%if user_signed_in?%>
            <%= render 'home/new_features'%>
          <%else%>
            <%= render 'user/sign_in_form'%>
          <%end%>
        </aside>

        <footer class="footer_tuitiable">
          <p>Made by Albert, Mariella y Saida</p>
          <p>cohort #2 students</p>
        </footer>
      </div>

    </div>

  </body>

</html>
