<!DOCTYPE html>
<html>
  <head>
    <title>Tuiteable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="index-page">
      <div class="column-left">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <%= link_to  "Perfil", 'profile' %>
        <%end%>
      </div>
      <div class="column-middle">
      
        <%= yield %>
        
      </div>
      <div class="column-right">
        
        <% unless user_signed_in? %>
          <%= render  file:"devise/sessions/new" %>
        <% end %>

        <footer>
          <p>Made with bravery by {codeable} cohort #2 
            <a href="https://github.com/alexRai98" target="_blank">Rai Delgado</a>,
            <a href="https://github.com/gpanebra" target="_blank">Gustavo Panebra</a> &
            <a href="https://github.com/marccmartian" target="_blank">Marvin Carrasco</a>
          </p>
        </footer>
   
      </div>

    </div>
  </body>
</html>
