<!DOCTYPE html>
<html>
  <head>
    <title>Tuiteable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="mainContainer">
      <div class="first">
        <img src="/img/logo.png" height="43">
        <div class="firstColumn">
          <div class="hash">
            <img src="/img/hash.png" alt="">
            <a href="#">Explorer</a>
          </div>
        </div>
      </div>
      <div class="second">
        <div class="head">
          <p>
            <%= yield :page_heading %>
          </p>
        </div>
        <%= yield %>
      </div>
      <div class="third">
        <div class="card">
          <h1>Log in to { tuiteable }</h1>
          <form>
            <label for="email">Email</label> <br />
            <input type="text" id='email'> <br />
            <label for="password">Password</label> <br />
            <input type="password" id="password">
          </form>
          <button id="login">Log in</button>
          <button id="facebook">Use Facebook</button>
          <button id="github">Use Github</button>
          <p>Not registered yet?</p>
          <button id="signup">Sign up with email</button>
        </div>
        <p id="message">Made with bravery by {codeable}</p>
        <p id="message">cohort #2 student</p>
      </div>
    </div>
  </body>
</html>
